@model ToxCTS.Models.Chemical

@{
    Page.Title = Model.ChemName;
    ViewBag.Title = "Details";
}

<h2>@Page.Title</h2>
<h3>
    @Html.ActionLink("Back to List", "Index")
</h3><br />
<fieldset>
    <legend>Chemical</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div><br />

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChemName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChemName)
    </div>
    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CommonName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommonName)
    </div>
    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CSC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CSC)
    </div>
    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CAS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAS)
    </div>
    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Manufacturer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer)
    </div>
    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpDate)
    </div>
</fieldset>

