@model ToxCTS.Models.Chemical

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Chemical</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChemName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChemName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CommonName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommonName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CSC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CSC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CAS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Manufacturer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
