@{
    @model IEnumerable<ToxCTS.Models.Chemical>
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "Search Results";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <form>
                <b>Search for a Chemical:</b><br />
                <input type="search" name="ChemNameSearch" placeholder="Chemical Name" />
                <input type="search" name="CSCSearch" placeholder="CSC#" />
                <input type="search" name="CASSearch" placeholder="CAS#" />
                <input type="submit" value="Search" />
                <br /><br />
            </form>
        </div>
    </section>
}

<table class="table table-striped sortable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChemContainer.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChemContainer.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChemContainer.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpDate)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemContainer.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemContainer.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemContainer.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAS)
            </td>
            <td>
                @Html.DisplayFor(model => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(model => item.ExpDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<h2 >@ViewBag.Message</h2>

<a href="#" class="scrollToTop"><img src="~/Images/top_button.png" width="100" height="100" />Back to Top</a>
