@{
    @model ToxCTS.Models.Chemical
    Page.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form method="post" action="Updated" class="create-form">
    <input required="required" type="number" placeholder="Amount" name="amount" value="@Html.DisplayFor(model =>model.Amount)" min="0" />
    <input required="required" type="text" placeholder="Chemical Name" name="chemName" value="@Html.DisplayFor(model =>model.ChemName)" />
    <input required="required" type="text" placeholder="Common Name" name="comName" value="@Html.DisplayFor(model =>model.CommonName)" />
    <input required="required" type="number" placeholder="Size" name="ContSize" value="@Html.DisplayFor(model =>model.ChemContainer.Size)" />
    <input required="required" type="text" placeholder="Unit" name="ContUnit" value="@Html.DisplayFor(model =>model.ChemContainer.Unit)" />
    <input required="required" type="text" placeholder="Glass/Plastic" name="ContType" value="@Html.DisplayFor(model =>model.ChemContainer.Type)" />
    <input required="required" type="number" placeholder="CSC#" name="CSCnum" value="@Html.DisplayFor(model =>model.CSC)" />
    <input required="required" type="number" placeholder="CAS#" name="CASnum" value="@Html.DisplayFor(model =>model.CAS)" />
    <input required="required" type="text" placeholder="Manufacturer" name="Manufacturer" value="@Html.DisplayFor(model =>model.Manufacturer)" />
    <input required="required" type="date" placeholder="Exp Date" name="ExpDate" value="@Html.DisplayFor(model =>model.ExpDate)" />
    <input required="required" type="submit" name="Submit" value="Update" />
</form>
