@{
    @model ToxCTS.Models.Chemical
    Page.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit ID @Model.ID</h2>

<form method="post" action="~/Admin/SDS" class="create-form">
    <h4>Amount:           </h4><input  type="number" placeholder="Amount" name="amount" value="@Html.DisplayFor(model =>model.Amount)" min="0" />
    <h4>Chemical Name:    </h4><input  type="text" placeholder="Chemical Name" name="chemName" value="@Html.DisplayFor(model =>model.ChemName)" />
    <h4>Common Names:      </h4><input type="text" placeholder="Common Name" name="commName" value="@string.Join(", ", Model.CommonNames)" />
    <h4>Container Size:   </h4><input  type="number" placeholder="Size" name="ContSize" value="@Html.DisplayFor(model =>model.ChemContainer.Size)" />
    <h4>Container Unit:   </h4><input  type="text" placeholder="Unit" list="units" name="ContUnit" value="@Html.DisplayFor(model =>model.ChemContainer.Unit)" />
    <h4> Container Type:  </h4><input  type="text" list="cont-types" placeholder="Glass/Plastic" name="ContType" value="@Html.DisplayFor(model =>model.ChemContainer.Type)" />
    <h4>CSC #:            </h4><input  type="text" placeholder="CSC#" name="CSCnum" value="@Html.DisplayFor(model =>model.CSC)" />
    <h4>CAS #:            </h4><input  type="text" placeholder="CAS#" name="CASnum" value="@Html.DisplayFor(model =>model.CAS)" />
    <h4> Manufacturer:    </h4><input  type="text" placeholder="Manufacturer" name="Manufacturer" value="@Html.DisplayFor(model =>model.Manufacturer)" />
    <h4>Exp. Date:        </h4><input  type="date" placeholder="Exp Date" name="ExpDate" value="@Html.DisplayFor(model =>model.ExpDate)" />
    <h4>Room #:           </h4><input  type="text" name="RoomNum" placeholder="Room #" value="@Html.DisplayFor(model => model.location.room)"/>
    <h4>Cabinet:          </h4><input  type="text" list="cabinets" name="Cabinet" placeholder="Cabinet" value="@Html.DisplayFor(model => model.location.cabinet)" />

    <h4>Select Hazard Warnings</h4>
    <div class="haz"><input type="checkbox" name="GHShaz" value="H" /><img src="~/Images/Hazards/health.png" /></div>
    <div class="haz"><input type="checkbox" name="GHShaz" value="F" /><img src="~/Images/Hazards/flame.png" /></div>
    <div class="haz"><input type="checkbox" name="GHShaz" value="R" /><img src="~/Images/Hazards/corrosion.png" /></div>
    <div class="haz"><input type="checkbox" name="GHShaz" value="S" /><img src="~/Images/Hazards/exclamation.png" /></div>
    <input hidden="hidden" value="@Model.ID" name="id" />
    <input required="required" type="submit" name="Submit" value="Update" />
</form>

<br />
<form method="post" id="delete-form" action="~/Admin/Deleted" class="delete-form">
    <input type="submit" value="Delete this Chemical" id="delete-button" onclick="{return verifyDelete();}"/>
    <input hidden="hidden" value="@Model.ID" name="id" />
</form>

<script>
    function verifyDelete() {
        var answer = confirm("Are you sure you want to delete @Model.ChemName?");
        if (answer == true) {
            return true;
        }
        else return false;
    }
    
</script>

<datalist id="cont-types">
    <option value="Glass">Glass</option>
    <option value="Plastic">Plastic</option>
    <option value="Can">Can</option>
</datalist>

<datalist id="cabinets">
    <option value="flam cab">flam cab</option>
    <option value="cab 2-glass">cab 2-glass</option>
</datalist>

<datalist id="units">
    <option value="L">L</option>
    <option value="mL">mL</option>
    <option value="g">g</option>
</datalist>