@{
    @model IEnumerable<ToxCTS.Models.Chemical>
    ViewBag.Title = "Results";
    Page.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title for </h2>

<table class="table table-striped sortable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChemContainer.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChemContainer.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChemContainer.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpDate)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemContainer.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemContainer.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemContainer.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAS)
            </td>
            <td>
                @Html.DisplayFor(model => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(model => item.ExpDate)
            </td>
            <td>@Html.ActionLink("Edit", "Edit", "Admin")</td>
        </tr>
    }
</table>
<h2 class="error">@ViewBag.Message</h2>