@{
    @model ToxCTS.Models.Chemical
    Page.Title = "Updated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Updated</h2>

<h3>@Html.DisplayNameFor(model => model.Amount): @Html.DisplayFor(model => model.Amount)</h3>

<h3>@Html.DisplayNameFor(model => model.ChemName): @Html.DisplayFor(model => model.ChemName)</h3>

<h3>@Html.DisplayNameFor(model => model.CommonName): @Html.DisplayFor(model => model.CommonName)</h3>

<h3>@Html.DisplayNameFor(model => model.ChemContainer.Size): @Html.DisplayFor(model => model.ChemContainer.Size)</h3>

<h3>@Html.DisplayNameFor(model => model.ChemContainer.Unit): @Html.DisplayFor(model => model.ChemContainer.Unit)</h3>

<h3>@Html.DisplayNameFor(model => model.ChemContainer.Type): @Html.DisplayFor(model => model.ChemContainer.Type)</h3>

<h3>@Html.DisplayNameFor(model => model.CSC): @Html.DisplayFor(model => model.CSC)</h3>

<h3>@Html.DisplayNameFor(model => model.CAS): @Html.DisplayFor(model => model.CAS)</h3>

<h3>@Html.DisplayNameFor(model => model.Manufacturer): @Html.DisplayFor(model => model.Manufacturer)</h3>

<h3>@Html.DisplayNameFor(model => model.ExpDate): @Html.DisplayFor(model => model.ExpDate)</h3>